{% load template_tags %}
<head>
	<script type="text/javascript" src="{{ STATIC_URL }}js/collapser/collapser.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/imageUpdater/iSearchImageUpdater.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/DialogUI/PageBlock.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/DialogUI/HelpDialog.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dialog.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/images.css" type="text/css" />
    <style>
        #helpBox {
            font-size: 13px;
            width: 700px;
        }
    </style>
</head>
<body>
	<div class="results">
		<div id="collapse-holder-images" class="collapse_holder">
		    <img class="collapse" id="collapse-images" src="{{ STATIC_URL }}images/arrow_down.png"></img>
		    <span>Image Results for {{ query }}</span>
		</div>
		<div id="image-search-container">
			<div class="results-menu">
				<div class="tabTitle" align="center">Images Found</div>
			 	{% for candidate in candidateInfo %}
				<div id="imageTab{{ candidate.2 }}" class="tab{% if forloop.counter0|isZero %} activeTab{% endif %}">{{ candidate.1 }} ({{ candidate.4 }})</div>
				{% endfor %}
			</div>
			<div class="results-container">
				{% for candidate in candidateInfo %}
				<div id="imageResult{{ candidate.2 }}" class="image-content{% if forloop.counter0|isZero %} activeContent{% endif %}">
					<input type="hidden" class="totalImages" value="{{ candidate.4 }}" />
					<input type="hidden" class="pages" value="{{ candidate.3 }}" />
					<input type="hidden" class="iSearchID" value="{{ candidate.2 }}" />
					<table>
				        <tbody></tbody>
				    </table>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
    <div id="helpBox">
        <div>
            <p>
                <b>Image Search:</b><br>
                Image search tool provides
                A curated image has detailed information with following five categories: image description, gene model IDs, gene symbol,
                gene name, and image notes.
                Any of these categories can be searched individually or together with searching category option (using check box).<br>
                <br>
                Categories:<br>
                &nbsp;&nbsp;&nbsp;&nbsp; Description (ID)<br>
                &nbsp;&nbsp;&nbsp;&nbsp; Image Notes (IN)<br>
                &nbsp;&nbsp;&nbsp;&nbsp; Gene Name (GN)<br>
                &nbsp;&nbsp;&nbsp;&nbsp; Gene Symbol (GS)<br>
                &nbsp;&nbsp;&nbsp;&nbsp; Gene ID (GI)<br>
                <br>
                Other options:<br>
                Image search tool gets all data which contain keyword for each selected category option(s).
                It does not support wildcard searching such as * and ?.
            </p>
        </div>
        <div>
            * Feedback is welcome. Please email mdig@maizegdb.org with any comment you may have.
        </div>
        <br />
    </div>
</body>
<script type="text/javascript">
    var contents = $('#helpBox');
    var helpDialog = new HelpDialog(new PageBlock(), 'Image search', contents.show());

    $('#helpButton').click(function() {
        helpDialog.show();
    });

	(function($) {
		$(document).ready(function() {
			$('#collapse-holder-images').collapser({
				selector: '#image-search-container'
			});
			
			$('#image-search-container .tab').on('click', function() {
				if (!$(this).hasClass('activeTab')) {
					$('#image-search-container .activeTab').removeClass('activeTab');
					$('#image-search-container .activeContent').removeClass('activeContent').hide();
					
					$(this).addClass('activeTab');
					var contentId = $(this).attr('id').split('imageTab')[1];
					contentId = '#imageResult' + contentId;
					$(contentId).addClass('activeContent').show();
				}
			});
		
			$(window).load(function() {
				$('#image-search-container .results-container > div').each(function() {
					var totalImages = $(this).find('.totalImages').val();
					var pages = $(this).find('.pages').val();
					var iSearchID= $(this).find('.iSearchID').val();
					$(this).iSearchImageUpdater({
						'staticUrl' : '{{ STATIC_URL }}',
						'siteUrl' : '{{ SITE_URL }}',
						'pages' : pages,
						'limit' : {{ limit }},
						'totalImages' : totalImages,
						'imagesPerRow' : {{ imagesPerRow }},
						'user' : '{{ user }}',
						'query' : '{{ query }}',
						'iSearchID' : iSearchID
					});
				});
				
		        $('#image-search-container .results-container .activeContent').show();
			});
		});
	})(jQuery);

</script>